html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.container-fluid {
    height: 100%;
}
div.image img {
    height: 100%;
    width: 100%;
}
.row.top {
    margin-top: 15px;
}
.row.top a:hover {
    text-decoration: none;
}
.row.bottom {
    margin-bottom: 15px;
}
